Flask==2.3.3
opencv-python==4.8.1.78
ultralytics==8.1.0
Werkzeug==2.3.7
numpy==1.26.0
matplotlib==3.8.0
requests==2.31.0
Pillow==10.0.1
python-dotenv==1.0.0
Flask-WTF==1.2.1
Jinja2==3.1.2
gunicorn==21.2.0
fiftyone==0.21.0
sahi==0.11.14
huggingface_hub==0.17.3
